body,
html {
    background-color: #000;
    background: url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/08/Cool-Background-3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    opacity: 1;
    font-family: sans-serif;
}
h1, h2, p, ul, ol, h3{
    color: rgb(0, 0, 0);
}
body{
background-color: rgb(255, 255, 255);
}
p{
    margin: auto;
    word-wrap: break-word;
    width: 80%;
    font-size:18px;
    padding: 10px;
}
ul, ol {
    font-size:20px;   
}
.page-content {
    width: 60vw;
    margin: 0 auto;
}
.spacer {
    width: 100%;
    height: 80px;
}
h1{
    font-size: 70px;
    padding: 10px;
}
h3{
    font-size:20px;
    padding: 10px;
}
h2 {
    padding: 10px;  
}
